{% extends 'shop/basic.html' %}

{% block title %} Dhaulagiri Enterprises {% endblock %}
{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Dhaulagiri Enterprises</h1>
      <p>This is a Ecommerce website founded by <b>SATISH SUBEDI</b> in 2020AD as a Part of his projectc during a coronavirus pandamic in lockdown.It is just like a amazon ,filpcart like other ecommerce wbsites .It includes a large no of category of product through which the costumer can navigate and buy a product of their choice.It is very safe and effective it is made for the ease of the people </p>

    </div>
  </div>

<div class="head mx-7">
    <h2 class="display-3"><b>A Voice From Our Founder</b></h2>
     <img src="test.jpg" class="bd-placeholder-img" width="200" height="250" aris-label="placeholder: Thumbnail">

</div>
<div class="container col-md-4">


<p class="text-justify">"<b>Well we are living in the 21st century the era of internet we can do almost every thing through the internert and i thought why we cant shop through internet so this is web is built to do some shoping through the internet.</b>" </p>
    <hr>

</div>
</main>



 {% endblock %}
